Sviluppo_software_in_gruppi_di_lavoro_complessi/Esercizi_Eiffel/Eiffel User Files/19.05/projects/*/*
!Sviluppo_software_in_gruppi_di_lavoro_complessi/Esercizi_Eiffel/Eiffel User Files/19.05/projects/*/*.e
!Sviluppo_software_in_gruppi_di_lavoro_complessi/Esercizi_Eiffel/Eiffel User Files/19.05/projects/*/*.ecf
Programmazione_avanzata/porcocazzola
Artificial_intelligence_for_video_games/UnityProjects/UnityProject2
Artificial_intelligence_for_video_games/UnityProjects/UnityProject1/*
!Artificial_intelligence_for_video_games/UnityProjects/UnityProject1/Assets
!Artificial_intelligence_for_video_games/UnityProjects/UnityProject1/ProjectSettings
!Artificial_intelligence_for_video_games/UnityProjects/UnityProject1/*.sln
!Artificial_intelligence_for_video_games/UnityProjects/UnityProject1/*.vsconfig
~$*.odt
