Sviluppo_software_in_gruppi_di_lavoro_complessi/Esercizi_Eiffel/Eiffel User Files/19.05/projects/*/*
!Sviluppo_software_in_gruppi_di_lavoro_complessi/Esercizi_Eiffel/Eiffel User Files/19.05/projects/*/*.e
!Sviluppo_software_in_gruppi_di_lavoro_complessi/Esercizi_Eiffel/Eiffel User Files/19.05/projects/*/*.ecf